*{
  margin: 0;
  padding: 0;
  
}
.form-control {
  min-width: 30vw;
}
.mainDiv{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 5%;
}
.imgDiv{
  width: 40vw;
  height: 50vh;
}
.avatarImg{
  width: 45vw;
  height: 50vh;
}
.textFieldDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .mainDiv {
    flex-direction:  column-reverse;
  }
  .imgDiv{
    width: 85vw;
    height: 45vh;
  }
}

